@mixin initial {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@mixin centering {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  background: linear-gradient(#00b7d4, #505488, #2f3f80, #161569);
  @include initial;
  &::-webkit-scrollbar {
    width: 0;
  }
  .custom-shape-divider-top-1617036178 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: -1;
  }

  .custom-shape-divider-top-1617036178 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 183px;
  }

  .custom-shape-divider-top-1617036178 .shape-fill {
    fill: #00b7d4;
  }
  .heading {
    @include centering;
    // min-height: 0vh;
    font-size: larger;
    color: black;
  }
  main {
    .marks-container {
      @include centering;
      align-self: center;
      .marks-input {
        .input {
          margin: 20px;
          .labeling{
            @include centering;
            h2{
              text-align: center;
              font-size: 1.5rem;

            }
          }
          .marks-card {
            @include centering;
            margin: 5px;
          }
          .submit-btn {
            @include centering;

            #cal-sgpa {
              border: 1px solid black;
              outline: none;
              width: 15rem;
              cursor: pointer;
              &:active {
                transform: translateY(3px);
                box-shadow: none;
              }
            }
          }
          input {
            background: white;
            border: 3px solid transparent;
            border-radius: 4px;
            font-size: 20px;
            text-align: center;
            outline: none;
            opacity: 1;
            &:invalid {
              border: 3px solid red;
            }
            &::placeholder {
              text-transform: capitalize;
            }
          }
        }
        input {
          background: white;
          font-size: 1rem;
          margin: 5px;
          background: rgba(255, 255, 255, 0);
          opacity: 1;
        }
        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        .results {
          display: none;
          flex-wrap: wrap;
          background: rgba(255, 255, 255, 0.45);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          backdrop-filter: blur(5px);
          -webkit-backdrop-filter: blur(5px);
          border-radius: 10px;
          border: 1px solid rgba(255, 255, 255, 0.18);
          justify-content: center;
          align-items: center;
          spam {
            font-size: 20px;
            text-align: center;
          }
          .crd-reg,
          .crd-ern,
          .total,
          .final-sgpa {
            background: white;
            margin: 1rem;
            padding: 2rem;
            border-radius: 1rem;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 960px) {
  html {
    border-radius: 1rem;
    .heading #title {
      font-size: 2rem;
    }
    .marks-input {
      .marks-card {
        input {
          width: 30vw;
          &::placeholder {
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}
