body {
  background: -webkit-gradient(linear, left top, left bottom, from(#00b7d4), color-stop(#505488), color-stop(#2f3f80), to(#161569));
  background: linear-gradient(#00b7d4, #505488, #2f3f80, #161569);
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 0;
}

body .custom-shape-divider-top-1617036178 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: -1;
}

body .custom-shape-divider-top-1617036178 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 183px;
}

body .custom-shape-divider-top-1617036178 .shape-fill {
  fill: #00b7d4;
}

body .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: larger;
  color: black;
}

body main .marks-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
}

body main .marks-container .marks-input .input {
  margin: 20px;
}

body main .marks-container .marks-input .input .labeling {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .marks-container .marks-input .input .labeling h2 {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
}

body main .marks-container .marks-input .input .marks-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px;
}

body main .marks-container .marks-input .input .submit-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .marks-container .marks-input .input .submit-btn #cal-sgpa {
  border: 1px solid black;
  outline: none;
  width: 15rem;
  cursor: pointer;
}

body main .marks-container .marks-input .input .submit-btn #cal-sgpa:active {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  -webkit-box-shadow: none;
          box-shadow: none;
}

body main .marks-container .marks-input .input input {
  background: white;
  border: 3px solid transparent;
  border-radius: 4px;
  font-size: 20px;
  text-align: center;
  outline: none;
  opacity: 1;
}

body main .marks-container .marks-input .input input:invalid {
  border: 3px solid red;
}

body main .marks-container .marks-input .input input::-webkit-input-placeholder {
  text-transform: capitalize;
}

body main .marks-container .marks-input .input input:-ms-input-placeholder {
  text-transform: capitalize;
}

body main .marks-container .marks-input .input input::-ms-input-placeholder {
  text-transform: capitalize;
}

body main .marks-container .marks-input .input input::placeholder {
  text-transform: capitalize;
}

body main .marks-container .marks-input input {
  background: white;
  font-size: 1rem;
  margin: 5px;
  background: rgba(255, 255, 255, 0);
  opacity: 1;
}

body main .marks-container .marks-input input[type="number"]::-webkit-inner-spin-button,
body main .marks-container .marks-input input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body main .marks-container .marks-input .results {
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: rgba(255, 255, 255, 0.45);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .marks-container .marks-input .results spam {
  font-size: 20px;
  text-align: center;
}

body main .marks-container .marks-input .results .crd-reg,
body main .marks-container .marks-input .results .crd-ern,
body main .marks-container .marks-input .results .total,
body main .marks-container .marks-input .results .final-sgpa {
  background: white;
  margin: 1rem;
  padding: 2rem;
  border-radius: 1rem;
}

@media screen and (max-width: 960px) {
  html {
    border-radius: 1rem;
  }
  html .heading #title {
    font-size: 2rem;
  }
  html .marks-input .labeling h2 {
    font-size: 1.3rem;
  }
  html .marks-input .marks-card input {
    width: 30vw;
  }
  html .marks-input .marks-card input::-webkit-input-placeholder {
    font-size: 0.9rem;
  }
  html .marks-input .marks-card input:-ms-input-placeholder {
    font-size: 0.9rem;
  }
  html .marks-input .marks-card input::-ms-input-placeholder {
    font-size: 0.9rem;
  }
  html .marks-input .marks-card input::placeholder {
    font-size: 0.9rem;
  }
}
/*# sourceMappingURL=sgpa-cal.css.map */